.garoe-ui-button {
	position: relative; /* Ensure the tooltip is positioned relative to the button */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border-radius: var(--garoe-ui-button-border-radius);
	padding: var(--garoe-ui-button-padding);
	margin: 0 0.2rem 0.5rem 0.2rem;
	font-size: 1rem;

	img {
		width: 1.2rem;
		height: 1.2rem;
		margin-right: 0.5rem;
		transition: all 0.3s ease-in-out;
		filter: var(--garoe-ui-icon-button-with-icon-color-filter);
	}

	&.primary {
		background-color: var(--garoe-ui-button-primary-bg);
		color: var(--garoe-ui-button-primary-color);
		box-shadow: 0px 10px 50px 0 rgba(31, 38, 135, 0.2);
		border: 1px solid var(--garoe-ui-button-primary-bg);
	}

	&.secondary {
		background: var(--garoe-ui-button-secondary-bg);
		color: var(--garoe-ui-button-secondary-color);
		border: 1px solid var(--garoe-ui-button-secondary-border-color);
	}

	&.tertiary {
		background: var(--garoe-ui-button-tertiary-bg);
		color: var(--garoe-ui-button-tertiary-color);
		font-size: 0.75rem;
		border: 1px solid var(--garoe-ui-button-tertiary-border-color);

		&:hover {
			color: var(--garoe-ui-button-tertiary-hover-color);

			img {
				filter: var(--garoe-ui-icon-button-with-icon-color-filter-hover);
			}
		}
	}

	.danger {
		background: #5c0512;
		color: white;
	}

	.onlyIcon {
		background: none;

		img {
			height: 1.5rem;
			width: 1.5rem;
			transition: all 0.2s ease-in-out;
			position: relative; /* Ensure the img is positioned relative to the tooltip */
			filter: drop-shadow(2px 2px 2px rgba(7, 17, 69, 0.5));

			&:hover + .button__iconTooltip {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.iconWrapper {
		position: relative;
	}

	.iconTooltip {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 2rem;
		left: 100%;
		transform: translateX(-100%);
		width: max-content;
		background: var(--garoe-ui-button-tooltip-bg);
		color: var(--garoe-ui-button-tooltip-color);
		padding: 0.5rem;
		border-radius: 5px;
		font-size: 0.75rem;
		transition: all 0.3s ease-in-out;

		&::before {
			content: "";
			position: absolute;
			top: -0.75rem;
			left: 90%;
			transform: translateX(-50%);
			border-width: 0.5rem;
			border-style: solid;
			border-color: transparent transparent var(--garoe-ui-button-tooltip-bg)
				transparent;
		}
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.25;
	}
}
