:root {
	/* Button */

	/* Primary button */
	--garoe-ui-button-primary-bg: yellow;
	--garoe-ui-button-primary-color: #fff;

	/* Secondary button */
	--garoe-ui-button-secondary-bg: #6c757d;
	--garoe-ui-button-secondary-color: #fff;
	--garoe-ui-button-secondary-border-color: #6c757d;

	/* Tertiary button */
	--garoe-ui-button-tertiary-bg: #fff;
	--garoe-ui-button-tertiary-color: black;
	--garoe-ui-button-tertiary-border-color: black;
	--garoe-ui-button-tertiary-hover-color: #5a6268;

	/* Button Tooltip */
	--garoe-ui-button-tooltip-bg: #000;
	--garoe-ui-button-tooltip-color: #fff;

	/* Icon Button */
	--garoe-ui-icon-button-with-icon-color-filter: grayscale(100%);
	--garoe-ui-icon-button-with-icon-color-filter-hover: grayscale(0%);

	/* Button Default Styles */
	--garoe-ui-button-border-radius: 2rem;
	--garoe-ui-button-padding: 0.5rem 1rem;

	/* Button Spacing */
	--garoe-ui-default-margin-bottom: 1.5rem;
}
